.popup-img__container {
  background-color: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 510px) {
  .popup-add__container {
    max-width: 240px;
  }
}
