.popup-img__container {
  width: 100%;
  max-width: 75vw;
  max-height: 75vh;
  background-color: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 510px) {
  .popup-img__container {
    max-width: 282px;
    padding: 25px 22px 0 22px;
  }
}
