.profile {
  max-width: 880px;
  margin: 40px auto 0;
  display: grid;
  grid-template-columns: 168px auto auto;
  grid-template-rows: min-content;
  grid-template-areas: "a b c";
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 655px) {
  .profile {
    grid-template-columns: 168px auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "a b" "c .";
  }
}

/* @media screen and (max-width: 500px) {
  .profile {
    grid-template-columns: 168px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "a" "b" "c";
  }
} */

@media screen and (max-width: 320px) {
  .profile {
    /* max-width: 320px; */
    grid-template-columns: 282px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "a" "b" "c";
    justify-items: center;
    /* text-align: center; */
  }
}
