.popup-add__close {
  background-image: url("../../../images/closeicon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  border: none;
  width: 30px;
  height: 30px;
  position: absolute;
  right: -30px;
  top: -30px;
  cursor: pointer;
  background-color: transparent;
}

.popup-add__close:hover {
  opacity: 0.6;
}
