.elements__heart-button {
  width: 21px;
  height: 18px;
  background-image: url("../../../images/heart.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  padding: 0;
  border: none;
  cursor: pointer;
  display: block;
}

.elements__heart-button:hover {
  opacity: 0.5;
}
